---
layout: default
title: Blog
weight: 2
permalink: /blog/
---

<!-- Original blog content commented out temporarily -->
<!-- {% include blog/search.html %} -->
<!-- {% include blog/index.html %} -->

<!-- Redirect to coming soon page -->
<script>
  window.location.href = '{{ site.baseurl }}/coming-soon/';
</script>

<!-- Fallback content in case JavaScript is disabled -->
<div class="container text-center py-5">
  <h2>Redirecting...</h2>
  <p>If you are not redirected automatically, <a href="{{ site.baseurl }}/coming-soon/">click here</a>.</p>
</div>